<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../public/res/favicon.png" type="image/png">
    <title>{{{domain}}} {{title}}/{{subtitle}}</title>

    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/uikit/css/uikit.min.css">
  </head>
  <body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="../public/js/main.js"></script>
    <script type="text/javascript" src="../public/uikit/js/uikit.min.js"></script>
    <script type="text/javascript" src="../public/uikit/js/uikit-icons.min.js"></script>

    {{#if home}}
      <header>
        {{>header}}
      </header>
      <main>
        {{{body}}}
      </main>
    {{else}}
      <div class="parallax" uk-parallax="bgy: -900">
        <header>
          {{>header-nothome}}
        </header>
        {{>title}}
      </div>
      <main id="main-nothome">
        {{{body}}}
      </main>
    {{/if}}
    <!-- <footer class="uk-margin-remove">
      {{>footer}}
    </footer> -->
  </body>
</html>
