<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../public/res/favicon.png" type="image/png">
    <title>{{{domain}}} {{title}}</title>

    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/uikit/css/uikit.min.css">
  </head>
  <body>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="../public/js/main.js"></script>
    <script type="text/javascript" src="../public/uikit/js/uikit.min.js"></script>
    <script type="text/javascript" src="../public/uikit/js/uikit-icons.min.js"></script>

    {{#if home}}
      <header>
        {{>header-home}}
      </header>
      <main>
        {{{body}}}
      </main>
    {{else}}
      <header id="header-nothome">
        {{>header}}
      </header>
      <main id="main-nothome">
        <div class="title-container" uk-parallax="bgy: -900">
          <div class="uk-container container-xs">
            <p class="title uk-animation-slide-left-medium">{{title}}</p>
          </div>
        </div>
        {{{body}}}
      </main>
    {{/if}}




    <!-- <footer class="uk-margin-remove">
      {{>footer}}
    </footer> -->
  </body>
</html>
